<div>
    <div id="wrapper">
        <div id="modal">
            <md-card>
                <md-card-title-group>
                    <md-card-title>Reset Password</md-card-title>
                    <md-card-subtitle>Yes, please reset the users password</md-card-subtitle>
                </md-card-title-group>
                <md-card-actions align="end">
                    <button md-raised-button color="secondary" (click)="closeView()">Cancel</button>
                    <button md-raised-button color="primary" id="submit-button" (click)="closeView()">Reset Password</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>