<div *ngIf="isModalOpen">
    <div id="wrapper">
        <div id="modal">
            <md-card>
                <md-card-title-group>
                    <!--<img md-card-sm-image src="path/to/img.png">-->
                    <md-card-title>Reset Password</md-card-title>
                    <md-card-subtitle>Yes, please reset the users password</md-card-subtitle>
                </md-card-title-group>
                <md-card-actions align="end">
                    <button md-raised-button color="secondary" (click)="isModalOpen = !isModalOpen">Cancel</button>
                    <button md-raised-button color="primary" id="submit-button" (click)="isModalOpen = !isModalOpen">Reset Password</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>