<div>
	<div class="card card-w-title">
		<h1>Un-enroll Child</h1>
		<h3>I understand, that the school will review my un-enroll request. I also understand that I may be liable for any penalty
			or forfeiture for tuition payment paid. My un-enroll request is not complete until I receive written confirmation from
			the school.</h3>
		<button md-raised-button color="primary" (click)="closeView()">Cancel</button>
		<button md-raised-button color="warn" id="submit-button" (click)="closeView()">Submit</button>
	</div>
</div>