#add-class-button, #add-grade-button, {
    margin-top : 15px; 
}

#add-class-dialog-class-name{
    margin-top : 15px;
}

.heading{
    margin-top: 10px;
    font-weight: bold;
}

.ui-g-1-5, .ui-g-1{
    width:10%;
}