:host {
    border-left: 1px solid #fff;
    width: 129px;
    padding: 12px 5px;
    cursor:pointer;
}
#user-role{
    font-size: 12px;
    display: block;
    background-color: #fff;
    line-height: 16px;
    height: initial;
    width: 140px;
    padding: none;
}

#user-name{
    display: table;
    margin: 0 auto;
    font-size: 16px;
}