<div>
    <div class="card card-w-title">
        <h1>Pay Tuition Fees</h1>
        <label>Auto-Pay enabled:</label>
        <p-toggleButton [(ngModel)]="slideToggleModel"></p-toggleButton>
        <div class="form-group">
            <label>Make a one Time Payment:</label>
            <p-dropdown [options]="paymentOptions" [(ngModel)]="selectedPaymentOption" [autoWidth]="false"></p-dropdown>
        </div>
        <button color="secondary" (click)="closeView()">Cancel</button>
        <button color="primary" id="submit-button" (click)="closeView()">Submit</button>
    </div>
</div>