<div>
    <div class="card card-w-title">
        <h1>Add Payment Type</h1>
        <p-tabView>
            <p-tabPanel header="Godfather I">
                <h1>Credit Card</h1>
                <input placeholder="First Name" />
                <input placeholder="Last Name" />
                <input placeholder="Street" />
                <input placeholder="City" />
                <input placeholder="Postal Code" />
                <div class="form-group input-field full-width">
                    <span>*Credit Card</span>
                    <input class="input-field" placeholder="Card Number" />
                    <input class="input-field right-column" placeholder="CVV2" />
                </div>
                <div class="input-field full-width form-group">
                    <span>*Expiration</span>
                    <select id="month-control" class="form-control" required>
                        <option value=01>01</option>
                        <option value=01>02</option>
                        <option value=01>03</option>
                        <option value=01>04</option>
                        <option value=01>05</option>
                        <option value=01>06</option>
                        <option value=01>07</option>
                        <option value=01>09</option>
                        <option value=01>09</option>
                        <option value=01>10</option>
                        <option value=01>11</option>
                        <option value=01>12</option>
                    </select>
                    <select id="year-control" class="form-control" required>
                        <option value=2016>2016</option>
                        <option value=2017>2017</option>
                        <option value=2018>2018</option>
                        <option value=2019>2019</option>
                        <option value=2020>2020</option>
                        <option value=2021>2021</option>
                    </select>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <h1>ACH</h1>
                <input placeholder="First Name" />
                <input placeholder="Last Name" />
                <input placeholder="Street" />
                <input placeholder="City" />
                <input placeholder="Postal Code" />
                <span class="full-width" style="font-size:16px; margin-top:10px;">ACH Information</span>
                <input placeholder="Routing Number" />
                <input placeholder="Account Number" />
            </p-tabPanel>
        </p-tabView>
        <button color="secondary" id="submit-button" (click)="closeView()">Cancel</button>
        <button color="primary" id="submit-button" (click)="closeView()">Submit</button>
    </div>
</div>