<div>
    <div id="wrapper">
        <div id="modal">
            <md-card>
                <md-card-title>Add Payment Type</md-card-title>
                <md-card-content>
                    <md-tab-group>
                        <md-tab>
                            <template md-tab-label>Credit Card</template>
                            <template md-tab-content>
                                <!--<span>Billing Information</span>-->
                                <!--<md-input class="input-field" placeholder="First Name"></md-input>
                                <md-input class="input-field right-column" placeholder="Last Name"></md-input>
                                <md-input class="input-field full-width" placeholder="Street"></md-input>
                                <md-input class="input-field" placeholder="City"></md-input>-->
                                
                                <div class="form-group input-field full-width">
                                    <!--<span>Credit Card Details</span>-->
                                    <md-input [(ngModel)]="paymentMethod.cardNumber" class="input-field" placeholder="Card Number"></md-input>
                                    <md-input [(ngModel)]="paymentMethod.postalCode" class="input-field right-column" placeholder="Postal Code"></md-input>
                                    <md-input [(ngModel)]="paymentMethod.expiration" class="input-field" placeholder="Expiration (MM/YY)"></md-input>
                                    <md-input [(ngModel)]="paymentMethod.cvv" class="input-field right-column" placeholder="CVV"></md-input>
                                </div>
                                
                            </template>
                        </md-tab>
                        <md-tab>
                            <template md-tab-label>ACH</template>
                            <template md-tab-content>
                                <h4>Coming soon...</h4>
                                <!--<md-input class="input-field" placeholder="First Name"></md-input>
                                <md-input class="input-field right-column" placeholder="Last Name"></md-input>
                                <md-input class="input-field full-width" placeholder="Street"></md-input>
                                <md-input class="input-field" placeholder="City"></md-input>
                                <md-input class="input-field right-column" placeholder="Postal Code"></md-input>
                                <span class="full-width" style="font-size:16px; margin-top:10px;">ACH Information</span>
                                <md-input class="input-field" placeholder="Routing Number"></md-input>
                                <md-input class="input-field right-column" placeholder="Account Number"></md-input>-->
                            </template>
                        </md-tab>
                    </md-tab-group>
                </md-card-content>
                <md-card-actions align="end">
                    <button md-raised-button color="secondary" id="submit-button" (click)="closeView()">Cancel</button>
                    <button md-raised-button color="primary" id="submit-button" (click)="submit()">Submit</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>