<div>
    <div class="card card-w-title">
        <h1>Invite Your family members</h1>
        <input class="input-field  more-width" placeholder="Name" />
        <div class="input-field form-group">
            <label for="role-control">Role</label>
            <select id="role-control" class="form-control" required>
                <option value="Spouse">Spouse</option>
                <option value="Spouse">Relative</option>
                <option value="Spouse">Sibling</option>
                <option value="Friend">Friend</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <input placeholder="Email" />
        <div >
            <label >Read only</label>
            <p-toggleButton id="read-only" [(ngModel)]="readOnly"></p-toggleButton>
        </div>
        <button color="secondary" (click)="closeView()">Cancel</button>
        <button color="primary" id="submit-button" (click)="closeView()">Submit</button>
    </div>
</div>