<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>TabView</h1>
            <p-tabView>
                <p-tabPanel header="Create institution">
                    <form>
                        <input type="text" placeholder="Name" [(ngModel)]="institutionName" pInputText><label>Name</label>
                        <input type="text" placeholder="ShortCode" [(ngModel)]="institutionShortCode" pInputText><label>Institution Short Code</label>
                    </form>
                    <button type="button" id="super-adminize-button" (click)="createInstitution()" pButton label="Submit"></button>
                </p-tabPanel>
                <p-tabPanel header="Invite admin to institution">
                    <form>
                        <input type="text" placeholder="Name" pInputText><label>Name</label>
                        <input type="text" placeholder="ShortCode" pInputText><label>Institution Short Code</label>
                    </form>
                    <button type="button" id="super-adminize-button" (click)="inviteAdmin()" pButton label="Submit"></button>
                </p-tabPanel>
                <p-tabPanel header="Elevate user privileges to superadmin">
                    <form>
                        <input type="text" pInputText><label>Name</label>
                        <input type="text" pInputText><label>Institution Short Code</label>
                    </form>
                    <button type="button" id="super-adminize-button" pButton label="Submit" (click)="promoteToSuperAdmin()"></button>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>