<div class="ui-md-7">
	<div class="ui-g-12">
		<div class="card">
			<p-tabView>
				<p-tabPanel header="Create institution">
					<!--<form>-->
					<div class="ui-md-7">
						<label>Name</label>
						<input type="text" name="institutionName" [(ngModel)]="institutionName" pInputText>
					</div>
					<div class="ui-md-7">
						<label>Institution Short Code</label>
						<input type="text" name="institutionShortCode" [(ngModel)]="institutionShortCode" pInputText>
					</div>
					<!--</form>-->
					<div class="ui-md-7">
						<button type="button" id="super-adminize-button" (click)="createInstitution()" pButton label="Submit"></button>
					</div>
				</p-tabPanel>
				<p-tabPanel header="Invite admin to institution">
					<!--<form>-->
					<div class="ui-md-7">
						<label>Admin Name</label>
						<input type="text" pInputText>
					</div>
					<div class="ui-md-7">
						<label>Institution Short Code</label>
						<input type="text" pInputText>
					</div>
					<!--</form>-->
					<div class="ui-md-7">
						<button type="button" id="super-adminize-button" (click)="inviteAdmin()" pButton label="Submit"></button>
					</div>
				</p-tabPanel>
				<p-tabPanel header="Elevate user privileges to superadmin">
					<!--<form>-->
					<div class="ui-md-7">
						<label>Name</label>
						<input type="text" pInputText>
					</div>
					<div class="ui-md-7">
						<label>Institution Short Code</label>
						<input type="text" pInputText>
					</div>
					<!--</form>-->
					<div class="ui-md-7">
						<button type="button" id="super-adminize-button" pButton label="Submit" (click)="promoteToSuperAdmin()"></button>
					</div>
				</p-tabPanel>
			</p-tabView>
		</div>
	</div>
</div>