<div>
    <div id="wrapper">
        <div id="modal">
            <md-card>
                <md-card-title>Join!</md-card-title>
                <md-card-content>
                    <md-input placeholder="Email Address" style="width: 100%"></md-input>
                </md-card-content>
                <md-card-actions align="end">
                    <button md-raised-button color="secondary" (click)="closeView()">Cancel</button>
                    <button md-raised-button color="primary" id="submit-button" (click)="closeView()">Join</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>