<div class="ui-g">
    <div class="card card-w-title people-administration-table">
        <h1>Enrollment Centre</h1>
        <div class="ui-g-12 ui-md-2">
            <button pButton class="secondary flat" type="button" (click)="setList('PENDING_REVIEW')" label="Pending Review ({{pendingReviewList.length}})"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton class="secondary flat" type="button" (click)="setList('WAITLIST')" label="Wait List ({{waitList.length}})"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton class="secondary flat" type="button" (click)="setList('IN_PROCESS')" label="In Process ({{inProcessList.length}})" ></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton class="secondary flat" type="button" (click)="setList('UN_ENROLLED')" label="Un Enrolled ({{unEnrolledList.length}})" ></button>
        </div>
        <p-dataTable [value]="viewEnrollmentList" selectionMode="multiple" [(selection)]="selection" [paginator]="true" [rows]="10" [responsive]="true">
            <p-column field="name" header="Name" [sortable]="true"></p-column>
            <p-column field="age" header="Age" [sortable]="true"></p-column>
        </p-dataTable>

        <div class="ui-g-6">
            <span class="ui-g-4">Assign To Class:</span>
            <p-dropdown class="ui-g-4" [options]="assignableClasses" [(ngModel)]="selectedClass" autoWidth></p-dropdown>
            <button class="ui-g-3" pButton type="button" [disabled]="isLoading || viewEnrollmentList.length<1"  (click)="assignClass()" label="Submit" icon="ui-icon-edit"></button>
        </div>

        <div class="ui-g-6">
            <span class="ui-g-4">Update Status:</span>
            <p-dropdown class="ui-g-4" [options]="statuses" [(ngModel)]="selectedStatus" autoWidth></p-dropdown>
            <button class="ui-g-3" pButton type="button" [disabled]="isLoading || viewEnrollmentList.length<1" (click)="updateStatus()" label="Submit" icon="ui-icon-edit"></button>
        </div>
        <div class="ui-g-2">
            <button pButton type="button" (click)="delete()" icon="ui-icon-delete" label="Delete" icon="ui-icon-edit"></button>
        </div>

    </div>
</div>