<div id="login-wrapper">
    <h4 id="welcome-banner">Welcome to {{school.schoolName}}</h4>
    <div id="form-wrapper">
        <div id="login-form">
            <div id="left-block">
                <span id="sign-in-title" class="md-warn"> Sign in to get started </span>
                <form>
                    <md-input class="full-width" placeholder="Email address" (keyup.enter)="handler()" [(ngModel)]="email" ngControl="email" #spy #emailz="ngForm">
                        <md-hint [hidden]="emailz.valid || emailz.pristine" align="end">Please enter a valid email</md-hint>
                    </md-input>

                    <md-input class="full-width" (keyup.enter)="handler()" placeholder="Password" type="password" [(ngModel)]="password" name="password">
                        <md-hint align="end">Please enter a password</md-hint>
                    </md-input>
                    
                    <button id="login-button" [disabled]="!isValid" md-raised-button color="primary" (click)="login(spy)">Sign in</button>
                    <md-progress-bar [hidden]="!isRequested" mode="query"></md-progress-bar>
                    <div class="error-message" [hidden]="!errorMessage">{{errorMessage}}</div>
                    <button id="forgot-password" md-button (click)="toggleModal('LoginModal_ForgotPassword')">Forgot Password?</button>
                </form>
                <!--<br>TODO: remove this: {{spy._inputElement.nativeElement.className}}-->
            </div>
        </div>
        <div id="parent-signup">
            <div>
                <h5>Parents! Join today to manage your children's activities</h5>
                <button id="join-today-button" md-button color="primary" (click)="toggleModal('LoginModal_Join')">Join Today</button>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <span>Powered by <a href="https://www.secureslice.com">SecureSlice</a>. We are here to help</span>
    <button>
    <md-icon class="md-24">call</md-icon>
        </button>
    <button>
        <md-icon class="md-24">info</md-icon>
    </button>
</div>