.login-section .ui-g-12 {
    padding: 25px 40px;
}

.login-section .ui-g-12 .ui-button {
    margin-bottom: 20px;
}

.wrapper-section {
    text-align: center;
    width: 800px;
    padding: 30px 20px;
    margin: 100px auto 0 auto;
}

.wrapper-section .ui-g-12:first-child {
    margin-bottom: 10px;
}

.join-today-section{
    border-left: 1px solid #BBB;
}
