<div class="card wrapper-section ui-g">

    <div class="ui-g-12">
        <img src="../resources/layout/images/logo-ultima.svg">
    </div>

    <div class="ui-g-12 ui-md-6 login-section ui-fluid">
        <form (ngSubmit)="login()">
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" name="email" [(ngModel)]="email" >
                    <label>Username</label>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="password" pInputText autocomplete="off" name="password" [(ngModel)]="password" >
                    <label>Password</label>
                </span>
            </div>
            <div class="ui-g-12">
                <button type="submit" pButton label="Sign In" icon="ui-icon-person"></button>
                <button type="button" (onclick)="forgotPassword()" pButton label="Forgot Password" icon="ui-icon-help" class="blue-grey-btn"></button>
            </div>
        </form>
        <span *ngIf="errorMessage">{{errorMessage}}</span>
    </div>

    <div class="ui-g-12 ui-md-6 join-today-section ui-fluid">
        <h3 class="ui-g-12">
            Parents! Join today to manage your childrens' activities
        </h3>

        <p-dialog header="Join Today" [(visible)]="display" modal="modal" showEffect="fade">
            <h4 class="ui-g">Jack and Jill went up the hill to fetch a pail of water</h4>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="text" pInputText>
                    <label>Email address</label>
                </span>
            </div>
            <footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button pButton type="submit" label="Yes" style="margin-bottom:10px" (click)="display=false"></button>
                    <button pButton type="button" label="No" style="margin-bottom:10px" (click)="display=false"></button>
                </div>
            </footer>
        </p-dialog>

        <button type="text" (click)="display=true" pButton class="pink-btn" style="margin-bottom:10px; width:auto;" label="Join Today!"></button>
    </div>

</div>