<div *ngIf="isModalOpen">
    <div id="wrapper">
        <div id="modal">
            <md-card>
                <md-card-title-group>
                    <!--<img md-card-sm-image src="path/to/img.png">-->
                    <md-card-title>Delete User</md-card-title>
                    <md-card-subtitle>Yes, please delet this users account. I understand, this cannot be undone.</md-card-subtitle>
                </md-card-title-group>
                <md-card-actions align="end">
                    <button md-raised-button color="primary" (click)="isModalOpen = !isModalOpen">Cancel</button>
                    <button md-raised-button color="warn" id="submit-button" (click)="isModalOpen = !isModalOpen">Delete User</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>