<div>
    <div id="wrapper">
        <div id="modal">
            <md-card>
                <md-card-title>Password Recovery</md-card-title>
                <md-card-content>
                    <span>Enter the email address you used for registration. We will send you password reset instructions shortly</span>
                    <md-input placeholder="Email address" style="width: 100%"></md-input>
                </md-card-content>
                <md-card-actions align="end">
                    <button md-raised-button color="secondary" (click)="closeView()">Cancel</button>
                    <button md-raised-button color="primary" id="submit-button" (click)="closeView()">Reset Password</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>