<div>
    <div id="wrapper">
        <div id="modal">
            <p-tabView>
                <p-tabPanel header="Password Recovery">
                    <span>Enter the email address you used for registration. We will send you password reset instructions shortly</span>
                    <input placeholder="Email address" style="width: 100%"/>
                    <button color="secondary" (click)="closeView()">Cancel</button>
                    <button color="primary" id="submit-button" (click)="closeView()">Reset Password</button>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>