<div [ngClass]="{'layout-wrapper':true,'layout-compact':layoutCompact}">

    <div [ngClass]="{'layout-container':true,'menu-layout-static':true, 'menu-layout-overlay':false,'menu-layout-horizontal':false}">
        <!-- Top Bar -->
        <div class="topbar clearfix">
            <div class="topbar-left">
                <div class="logo"></div>
            </div>

            <div class="topbar-right">
                <a id="menu-button" href="#">
                    <i></i>
                </a>

                <a id="topbar-menu-button" href="#">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="topbar-items fadeInDown animated">
                    <li class="profile-item" [hidden]="profileMode!='top'&&layoutMode!='horizontal'">
                        <a href="#">
                            <div class="profile-image"></div>
                            <span class="topbar-item-name">Jane Williams</span>
                        </a>

                        <ul class="ultima-menu animated">
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">person</i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">security</i>
                                    <span>Privacy</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">settings_applications</i>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">power_settings_new</i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="topbar-icon material-icons">settings</i>
                            <span class="topbar-item-name">Settings</span>
                        </a>
                        <ul class="ultima-menu animated">
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">palette</i>
                                    <span>Change Theme</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">favorite_border</i>
                                    <span>Favorites</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">lock</i>
                                    <span>Lock Screen</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">wallpaper</i>
                                    <span>Wallpaper</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="topbar-icon material-icons animated swing">message</i>
                            <span class="topbar-badge animated rubberBand">5</span>
                            <span class="topbar-item-name">Messages</span>
                        </a>
                        <ul class="ultima-menu animated">
                            <li role="menuitem">
                                <a href="#" class="topbar-message">
                                    <img src="resources/layout/images/avatar1.png" width="35" />
                                    <span>Give me a call</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="topbar-message">
                                    <img src="resources/layout/images/avatar2.png" width="35" />
                                    <span>Sales reports attached</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="topbar-message">
                                    <img src="resources/layout/images/avatar3.png" width="35" />
                                    <span>About your invoice</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="topbar-message">
                                    <img src="resources/layout/images/avatar2.png" width="35" />
                                    <span>Meeting today at 10pm</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="topbar-message">
                                    <img src="resources/layout/images/avatar4.png" width="35" />
                                    <span>Out of office</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="topbar-icon material-icons">timer</i>
                            <span class="topbar-badge animated rubberBand">4</span>
                            <span class="topbar-item-name">Notifications</span>
                        </a>
                        <ul class="ultima-menu animated">
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">bug_report</i>
                                    <span>Pending tasks</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">event</i>
                                    <span>Meeting today at 3pm</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">file_download</i>
                                    <span>Download documents</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">flight</i>
                                    <span>Book flight</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="search-item">
                        <span class="md-inputfield">
                            <input type="text">
                            <label>Search</label>
                            <i class="topbar-icon material-icons">search</i>
                        </span>

                    </li>
                </ul>
            </div>
        </div>

        <!-- Menu -->
        <div [ngClass]="{'layout-menu':true,'layout-menu-dark':false}">
            <div class="nano">
                <div class="nano-content menu-scroll-content">

                    <ul id="main-menu" class="ultima-menu clearfix">
                        <li role="menuitem">
                            <a [routerLink]="['/parent/students']">
                                <span>Students</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a [routerLink]="['/profile']">
                                <span>Profile</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="layout-main">
            <router-outlet></router-outlet>

            <div class="footer">
                <div class="card clearfix">
                    <span class="footer-text-left">PrimeNG ULTIMA for Angular2</span>
                    <span class="footer-text-right">
                        <span class="ui-icon ui-icon-copyright"></span>
                    <span>All Rights Reserved</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>