md-sidenav-layout {
    min-height: 500px;
}
md-sidenav {
    width: 200px;
    background-color: #F5F7F8 !important;
}
md-nav-list{
    display: block;
    width: 170px;
    margin: 20px auto;
    padding: 0;
    background-color: #33495f;
}
.router-link-active{
    display: block; 
    color: #fff;
    background-color: #009688;
}
#donate-button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
md-nav-list a{
    font-weight: 500;
    font-size: 13px;
    color: #fff;
}