<!--<form [ngFormModel]="form">
    <df-question [question]="question" [form]="form"></df-question>
</form>-->
<span id="institution-name-title">Institution Information: </span><span id="institution-name">{{institution.name}}</span>
<button id="institution-details-button" class="mdl-button mdl-js-button mdl-button--icon" (click)="isInstitutionPanelOpen = !isInstitutionPanelOpen">
    <md-icon>radio_button_checked</md-icon>
</button>
<div *ngIf="isInstitutionPanelOpen">
    <md-card class="institution-details-card">
        <md-card-title-group>
            <md-card-subtitle>{{institution.name}}</md-card-subtitle>
            <md-card-subtitle>{{institution.details[0]}}</md-card-subtitle>
            <md-card-subtitle>{{institution.details[1]}}</md-card-subtitle>
        </md-card-title-group>
    </md-card>
</div>
<manage-child-profile #childProfileManager></manage-child-profile>
<pay-tuition-fees #tuitionFeesManager></pay-tuition-fees>
<unenroll #unenrollManager></unenroll>
<enroll-student #enrollStudentManager ></enroll-student>
<!--<my-menu label="tanmay" items={{menuItems}}></my-menu>-->
<div id="enrolled-students-table" class="table-container">
    <span class="table-title">Students Enrolled</span>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp student-table">
        <thead>
            <tr>
                <th class="table-heading mdl-data-table__cell--non-numeric">#</th>
                <th class="table-heading mdl-data-table__cell--non-numeric">Name</th>
                <th class="table-heading mdl-data-table__cell--non-numeric">Class</th>
                <th class="table-heading mdl-data-table__cell--non-numeric">Teacher</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of enrolledStudents; let idx = index;">
                <td class="mdl-data-table__cell--non-numeric">{{idx+1}}</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <span class="student-name"> {{student.name}} </span>
                    <!-- TODO Fails when routed--> 
                    <button md-icon-button id="student-submenu-button-{{idx}}" class="student-submenu-button">
                        <md-icon>arrow_drop_down</md-icon>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" attr.for="student-submenu-button-{{idx}}">
                        <button class="submenu mdl-menu__item" (click)="childProfileManager.toggleView()">Manage</button>
                        <button class="submenu mdl-menu__item mdl-menu__item--full-bleed-divider" (click)="tuitionFeesManager.toggleView()">Pay Tuition Fees</button>
                        <button class="submenu mdl-menu__item negative-color" (click)="unenrollManager.toggleView()">Un-enroll</button>
                    </ul>
                </td>
                <td class="mdl-data-table__cell--non-numeric">{{student.class}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{student.teacher}}</td>
            </tr>
        </tbody>
    </table>
    <button class="action-buttons" md-raised-button color="primary" (click)="enrollStudentManager.toggleView()">Enroll Student</button>
</div>

<div id="billing-history-table" class="table-container">
    <span class="table-title">Billing History</span>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp student-table">
        <thead>
            <tr>
                <th class="table-heading mdl-data-table__cell--non-numeric">Date</th>
                <th class="table-heading mdl-data-table__cell--non-numeric">Institution</th>
                <th class="table-heading mdl-data-table__cell--non-numeric">Amount</th>
                <th class="table-heading mdl-data-table__cell--non-numeric">Invoice</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of billingHistory">
                <td class="mdl-data-table__cell--non-numeric">{{row.date}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{row.institution}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{row.amount}}</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href={{row.invoiceLink}}>
                        <md-icon svgIcon="thumb-up"></md-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>