// component styles are encapsulated and only applied to their components
*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.table-container{
    margin-top: 10px; 
    margin-left: 30px;
}
.table-title{
    font-size: 20px;
    line-height: 60px;
    font-weight: 600;
}
.student-table{
    width:700px;
}
.table-heading{
    font-size: 16px;
}
#institution-name{
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
}
#institution-name-title{
    margin-left: 30px;
    font-size: 20px;
    line-height: 60px;
}
.student-name{
    width:100px;
}
.submenu{
    width:100%;
}
.student-submenu-button{
     float: right;
}