<div mdl>
    <div id="profile-administration-table" class="table-container">
        <span class="table-title">Profile Administration</span>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp student-table">
            <thead>
                <tr>
                    <th class="table-heading mdl-data-table__cell--non-numeric">Name</th>
                    <th class="table-heading mdl-data-table__cell--non-numeric">Relationship</th>
                    <th class="table-heading mdl-data-table__cell--non-numeric">Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of profileInfo; let idx = index">
                    <td class="mdl-data-table__cell--non-numeric">
                        <span>{{row.name}}</span>
                        <!-- TODO Fails when routed-->
                        <button md-icon-button id="user-submenu-button-{{idx}}" class="user-submenu-button">
                            <md-icon>arrow_drop_down</md-icon>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" 
                            attr.for="user-submenu-button-{{idx}}">
                            <button class="submenu mdl-menu__item" 
                                (click)="toggleModal('ParentProfileModal_ManageProfile')">Manage</button>
                            <button class="submenu mdl-menu__item mdl-menu__item--full-bleed-divider" 
                                (click)="toggleModal('ParentProfileModal_ResetPassword')">Reset Password</button>
                            <button class="submenu mdl-menu__item negative-color" 
                                (click)="toggleModal('ParentProfileModal_DeleteUser')">Delete User</button>
                        </ul>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{row.relationship}}</td>
                    <td class="mdl-data-table__cell--non-numeric" *ngIf="row.status.isAccepted">{{row.status.role}}</td>
                    <td class="mdl-data-table__cell--non-numeric" *ngIf="!row.status.isAccepted">
                        <a (click)="toggleModal('ParentProfileModal_ResendInvitation')">Resend Invitation</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="action-buttons" md-raised-button color="primary" (click)="toggleModal('ParentProfileModal_InviteFriends')">Invite Friends</button>
    </div>

    <div id="billing-adminitstration-table" class="table-container">
        <span class="table-title">Billing Administration</span>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp student-table">
            <thead>
                <tr>
                    <th class="table-heading mdl-data-table__cell--non-numeric">Type</th>
                    <th class="table-heading mdl-data-table__cell--non-numeric">Card Number</th>
                    <th class="table-heading mdl-data-table__cell--non-numeric">Primary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of paymentMethods; let idx = index">
                    <td class="mdl-data-table__cell--non-numeric">
                        <span>Credit Card</span>
                        <!-- TODO Fails when routed-->
                        <button md-icon-button id="billingInfo-submenu-button-{{idx}}" class="billingInfo-submenu-button">
                            <md-icon>arrow_drop_down</md-icon>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" 
                            attr.for="billingInfo-submenu-button-{{idx}}">
                            <button class="submenu mdl-menu__item mdl-menu__item--full-bleed-divider" 
                                (click)="toggleModal('ParentProfileModal_ManageBilling')">Manage</button>
                            <button class="submenu mdl-menu__item negative-color" 
                                (click)="toggleModal('ParentProfileModal_DeletePaymentType')">Delete Payment Type</button>
                        </ul>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{row.cardNumber}}</td>
                    <!--<td class="mdl-data-table__cell--non-numeric negative-color" *ngIf="row.status.isExpired">Expired!</td>-->
                    <td class="mdl-data-table__cell--non-numeric">
                        <md-slide-toggle class="slide-toggle" color="primary" [checked]="row.isDefault"></md-slide-toggle>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="action-buttons" md-raised-button color="primary" 
            (click)="toggleModal('ParentProfileModal_AddPaymentType')">Add Payment Type</button>
    </div>
</div>