:host {
    border-left: 1px solid #45627f;
    padding: 13px 5px 13px 15px;
    cursor:default;
}
span{
    color: #fff;
}
md-icon{
    color: #fff;
}
#user-role{
    display: block;
    font-size: 12px;
    line-height: 16px;
    height: initial;
    padding: 0;
    cursor:default;
}

#user-name{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    
}

#badge-value{
    display: inline-block;
    width: 20px;
    background-color: #e94d3c;
    border-radius: 10px;    
    vertical-align: super;
}
#badge-value span{
    font-size: 10px;
    display: block;
    /* width: 100%; */
    text-align: center;
}
#content{
    display: inline-block;
    width: 80px;
}
#drop-down-icon{
    display: inline-block;
}

// .notification-panel{
//     // z-index: -1;  
//     // position: absolute;
//     width: 154px;
//     color: #000;
//     border: 1px solid #000;
//     margin-left: -6px;
//     margin-top: 13px;
//     display: block;
// }

// .notification-panel:hover{
//     background-color: #f00;
// }