<div [ngClass]="{'layout-wrapper':true,'layout-compact':layoutCompact}">

    <div [ngClass]="{'layout-container':true,'menu-layout-static':true, 'menu-layout-overlay':true,
        'menu-layout-horizontal':false}">

        <div [ngClass]="{'layout-menu':true,'layout-menu-dark':false}">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <div class="profile">
                        <div class="profile-image"></div>
                        <a id="profile-options" href="#">
                            <span class="profile-name">{{loggedInUser.name}}</span>
                            <br>
                            <span class="profile-name">{{loggedInUser.institutionShortCode}}</span>
                            <br>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                    </div>

                    <ul id="profile-menu" class="ultima-menu" [hidden]="false">
                        <li role="menuitem">
                            <a href="#" class="ripplelink">
                                <i class="material-icons">school</i>
                                <span>School</span>
                            </a>
                            <ul role="menu">
                                <li role="menuitem">
                                    <a href="#" (onclick)="changeSchool()">
                                        <i class="material-icons">school</i>
                                        <span>School 1</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" (onclick)="changeSchool()">
                                        <i class="material-icons">school</i>
                                        <span>School 2</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li role="menuitem">
                            <a [routerLink]="['/admin/profile']" class="ripplelink">
                                <i class="material-icons">person</i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a [routerLink]="['/admin/settings']" class="ripplelink">
                                <i class="material-icons">settings_application</i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a (onclick)="logout()" [routerLink]="['/admin/settings']" class="ripplelink">
                                <i class="material-icons">power_settings_new</i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                    <ul id="main-menu" class="ultima-menu clearfix">
                        <li role="menuitem"><a [routerLink]="['/admin/enrollmentcenter']"><i class="material-icons">person</i><span>Enrollment Center</span></a></li>
                        <li role="menuitem"><a [routerLink]="['/admin/people']"><i class="material-icons">group</i><span>People</span></a></li>
                        <li role="menuitem"><a [routerLink]="['/admin/billing']"><i class="material-icons">payment</i><span>Billing</span></a></li>
                        <li role="menuitem"><a [routerLink]="['/admin/notification']"><i class="material-icons">chat</i><span>Notification</span></a></li>
                        <li role="menuitem"><a [routerLink]="['/admin/reporting']"><i class="material-icons">assignment</i><span>Reporting</span></a></li>
                        <li role="menuitem">
                            <a href="#" class="ripplelink">
                                <i class="material-icons">settings</i><span>Administration</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                            </a>
                            <ul role="menu">
                                <li role="menuitem"><a [routerLink]="['/admin/administration/school']"><i class="material-icons">school</i><span>School</span></a></li>
                                <li role="menuitem"><a [routerLink]="['/admin/administration/class']"><i class="material-icons">school</i><span>Class</span></a></li>
                                <li role="menuitem"><a [routerLink]="['/admin/administration/staff']"><i class="material-icons">group</i><span>Staff</span></a></li>
                                <li role="menuitem"><a [routerLink]="['/admin/administration/student']"><i class="material-icons">person</i><span>Student</span></a></li>
                                <li role="menuitem"><a [routerLink]="['/admin/administration/discounts']"><i class="material-icons">payment</i><span>Discounts</span></a></li>
                                <li role="menuitem"><a [routerLink]="['/admin/administration/notification']"><i class="material-icons">chat</i><span>Notification</span></a></li>
                                <li role="menuitem"><a [routerLink]="['/admin/administration/general']"><i class="material-icons">settings</i><span>General</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>