<header-toolbar ></header-toolbar>
<md-sidenav-layout>
  <md-sidenav opened="true" mode="side">
    <md-nav-list>
      <a md-list-item [routerLink]="['EnrollmentCenter']" routerLinkActive="router-link-active"> Enrollment Center </a>
      <a md-list-item [routerLink]="['People']" routerLinkActive="router-link-active"> People </a>
      <a md-list-item [routerLink]="['Billing']" routerLinkActive="router-link-active"> Billing </a>
      <a md-list-item [routerLink]="['Notification']" routerLinkActive="router-link-active"> Notification </a>
      <a md-list-item [routerLink]="['Administration']" routerLinkActive="router-link-active"> Administration </a>
      <!--<a md-list-item [routerLink]="['Profile']"> Profile </a>-->
    </md-nav-list>
  <button id="manual-billing-button"  md-raised-button color="secondary">Manual Billing</button>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-layout>

