<div>
    <div class="card card-w-title">
        <h1>Manage User Profile</h1>
        <input placeholder="Name" style="width: 100%"/>
        <input placeholder="Email" style="width: 100%"/>
        <div class="input-field form-group">
            <label for="role-control">Change Role</label>
            <select id="role-control" class="form-control" required>
                <option value="Spouse">Spouse</option>
                <option value="Friend">Friend</option>
                <option value="Etc">Etc</option>
            </select>
        </div>
        <button color="secondary" (click)="closeView()">Cancel</button>
        <button color="primary" id="submit-button" (click)="closeView()">Submit</button>
    </div>
</div>