<div>
    <div class="card card-w-title staff-administration-table">
        <p-dataTable selectionMode="multiple" [(selection)]="selectedStaff" [value]="staff" [paginator]="true" [rows]="10" [responsive]="true">
            <header>Staff Administration</header>
            <p-column field="name" header="Name" [sortable]="true"></p-column>
            <p-column field="role" header="Role" [sortable]="true"></p-column>
        </p-dataTable>
        <button type="submit" id="add-staff-button" (click)="addStaffDialogDisplay=true" pButton label="Modify Staff" icon="ui-icon-add"></button>
    </div>
</div>

<p-dialog header="Modify Staff" [(visible)]="addStaffDialogDisplay" [width]=600 modal="modal" showEffect="fade">
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="submit" pButton class="primary" icon="fa-check" (click)="modifyStaff()" label="Modify School"></button>
            <button type="button" pButton class="secondary" icon="fa-close" (click)="addStaffDialogDisplay=false" label="Cancel"></button>
        </div>
    </footer>
</p-dialog>

<p-dialog header="Remove Staff" [(visible)]="removeStaffDialogDisplay" [width]=600 modal="modal" showEffect="fade">
    <span>Staff Name is assigned to resources. Re assign all Staff Name resources to: </span>
    <p-dropdown [options]="staff" [(ngModel)]="selectedStaff" [autoWidth]="false"></p-dropdown>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="submit" pButton class="primary" icon="fa-check" (click)="removeStaff()" label="Remove Staff"></button>
            <button type="button" pButton class="secondary" icon="fa-close" (click)="removeStaffDialogDisplay=false" label="Cancel"></button>
        </div>
    </footer>
</p-dialog>