<div>
    <div class="card card-w-title billing-administration-table">
        <h1>Billing Administration</h1>
        <p>Site under construction</p>

        <p-dataTable [value]="people" selectionMode="multiple" [(selection)]="selection" [paginator]="true" [rows]="10" [responsive]="true">
            <header>Billing Administration</header>
            <p-column field="name" header="Name" [sortable]="true"></p-column>
            <p-column field="institution" header="Institution" [sortable]="true"></p-column>
            <p-column field="paymentStatus" header="Payment Status" [sortable]="true">
                <template let-user="rowData" pTemplate type="body">
                    <i *ngIf="user.paymentStatus==='Paid'" class="material-icons">done</i>
                    <span *ngIf="user.paymentStatus!=='Paid'">Past Due</span>
                </template>
            </p-column>
            <p-column field="discount" header="Discount" [sortable]="true">
                <template let-user="rowData" pTemplate type="body">
                    <span *ngIf="user.discount===0">None</span>
                    <span *ngIf="user.discount!==0">{{user.discount}}%</span>
                </template>
            </p-column>
        </p-dataTable>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-10">
            </div>
            <div class="ui-g-12 ui-md-2">

                <p-dialog header="Discount Administration" [(visible)]="dialogDisplay" [width]=600 modal="modal" showEffect="fade">
                    <div class="ui-g-12" id="discount-admin">
                        <label for="discountValue">Apply the following discount:</label>
                        <input type="text" pInputText class="ui-md-1" [formControl]="discountForm.controls['discountValue']" id="discountValue" (keyup)="0"
                        />
                        <label for="discountValue">%</label>
                    </div>
                    <p-dataTable [value]="selection" selectionMode="none" [responsive]="true">
                        <p-column field="name" header="Name"></p-column>
                        <p-column field="currentPayment" header="Current Payment"></p-column>
                        <p-column header="New Payment">
                            <template let-user="rowData" pTemplate type="body">
                                <span *ngIf="discountForm.valid">${{user.currentPayment*((100 - discountValue)/100)}}</span>
                                <span *ngIf="!discountForm.valid">N/A</span>
                            </template>
                        </p-column>
                    </p-dataTable>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton class="primary" icon="fa-close" (click)="dialogDisplay=false" label="Cancel"></button>
                            <button type="submit" pButton class="secondary" icon="fa-check" (click)="submit()" [disabled]="!discountForm.valid" label="Apply Discount"></button>
                        </div>
                    </footer>
                </p-dialog>

                <button pButton type="button" (click)="dialogDisplay=true" label="Modify Discount" [disabled]="selection.length===0" icon="ui-icon-edit"></button>

            </div>
        </div>

    </div>
</div>