<div>
    <div id="wrapper">
        <div id="modal">
            <md-card>
                <md-card-title>Enroll Student</md-card-title>
                <p>{{diagnostic}}</p>
                <md-card-content>
                    <md-tab-group>
                        <md-tab>
                            <template md-tab-label>Student Information</template>
                            <template md-tab-content>

                                <md-input class="input-field" [(ngModel)]="enrollableStudent.firstName" placeholder="First Name"></md-input>
                                <md-input class="input-field" [(ngModel)]="enrollableStudent.middleName" placeholder="Middle Name"></md-input>
                                <md-input class="input-field" [(ngModel)]="enrollableStudent.lastName" placeholder="Last Name"></md-input>
                                <md-input class="input-field" placeholder="Prefered Nickname"></md-input>
                                <md-input class="input-field" [(ngModel)]="enrollableStudent.dateOfBirth" placeholder="Date of Birth"></md-input>
                                <md-input class="input-field" [(ngModel)]="enrollableStudent.cityOfBirth" placeholder="City of Birth"></md-input>
                                <md-input class="input-field" [(ngModel)]="enrollableStudent.stateOfBirth" placeholder="State of Birth"></md-input>
                                <md-input class="input-field" [(ngModel)]="enrollableStudent.countryOfBirth" placeholder="Country of Birth"></md-input>
                                <custom-dropdown (selectedOptionEvent)=setRace($event) options={{races}} placeholder="Select Race"></custom-dropdown>
                                <custom-dropdown (selectedOptionEvent)=setGender($event) options={{genders}} placeholder="Select Gender"></custom-dropdown>
                                <div class="some-class input-field mdl-textfield mdl-js-textfield">
                                    <label>Additional Information</label>
                                    <textarea placeholder="Enter any additional information" [(ngModel)]="enrollableStudent.extraInfo" class="mdl-textfield__input"
                                        type="text" rows="3" id="sample5"></textarea>
                                </div>
                            </template>
                        </md-tab>
                        <md-tab>
                            <template md-tab-label>Payment Information</template>
                            <template md-tab-content>
                                <md-input class="input-field" [(ngModel)]="enrollableStudent.paymentMethod.cardNumber" placeholder="Credit Card Number"></md-input>
                                <md-input class="input-field" [(ngModel)]="enrollableStudent.paymentMethod.cvv" placeholder="CVV Number"></md-input>
                                <br>
                                <md-input class="input-field" [(ngModel)]="enrollableStudent.paymentMethod.expiration" placeholder="Expiration (MM/DD)"></md-input>
                                <md-input class="input-field" [(ngModel)]="enrollableStudent.paymentMethod.postalCode" placeholder="Postal Code"></md-input>
                            </template>
                        </md-tab>
                        <md-tab>
                            <template md-tab-label>Additional Forms</template>
                            <template md-tab-content>
                                <span id="form-tab-message">The admission process is not complete. You must complete and upload all forms for the admission process to continue</span>

                                <div class="file-uploader-container">
                                    <label for="medical-form">Medical Form</label>
                                    <input id="medical-form" type="file" ng2FileSelect [uploader]="uploader" />
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <div class="file-uploader-container">
                                    <label for="tuition-form">Tuition Form</label>
                                    <input id="tuition-form" type="file" ng2FileSelect [uploader]="uploader" />
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                            </template>
                        </md-tab>
                    </md-tab-group>
                </md-card-content>
                <md-card-actions align="end">
                    <button md-raised-button color="primary" id="submit-button" (click)="closeView()">Save and Exit</button>
                    <button md-raised-button color="primary" id="submit-button" (click)="submit()">Submit</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>