<div *ngIf="isModalOpen">
    <div id="wrapper">
        <div id="modal">
            <md-card>
                <md-card-title>Enroll Student</md-card-title>
                <md-card-content>
                    <md-tab-group>
                        <md-tab>
                            <template md-tab-label>Student Information</template>
                            <template md-tab-content>
                                <md-input class="input-field" placeholder="First Name"></md-input>
                                <md-input class="input-field" placeholder="Middle Name"></md-input>
                                <md-input class="input-field" placeholder="Last Name"></md-input>
                                <md-input class="input-field" placeholder="Prefered Nickname"></md-input>
                                <md-input class="input-field" placeholder="Date of Birth"></md-input>
                                <md-input class="input-field" placeholder="City of Birth"></md-input>
                                <md-input class="input-field" placeholder="State of Birth"></md-input>
                                <md-input class="input-field" placeholder="Country of Birth"></md-input>
                                <div class="input-field form-group">
                                    <!--<label for="race-control">Race:</label>-->
                                    <select id="race-control" class="form-control" required>
                                        <option value="ami">American Indian</option>
                                        <option value="aln">Alaskan Native</option>
                                        <option value="asi">Asian</option>
                                        <option value="afm">African American</option>
                                        <option value="hpi">Native Hawaian or Other Pacific Islander</option>
                                        <option value="ame">American</option>
                                    </select>
                                </div>
                                <div class="input-field form-group">
                                    <!--<label for="gender-control">Gender:</label>-->
                                    <select id="gender-control" class="form-control" required>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                                <div class="input-field mdl-textfield mdl-js-textfield" style="width:92%; margin: 0 0 0 10px;">
                                    <label>Additional Information</label>
                                    <textarea placeholder="Enter any additional information" class="mdl-textfield__input" type="text" rows="3" id="sample5"></textarea>
                                </div>
                            </template>
                        </md-tab>
                        <md-tab>
                            <template md-tab-label>Payment Information</template>
                            <template md-tab-content>
                                <md-input class="input-field" placeholder="Credit Card Number"></md-input>
                                <md-input class="input-field" placeholder="CVV2 Number"></md-input>
                                <div class="input-field form-group">
                                    <label for="gender-control">Expiration:</label>
                                    <select id="month-control" class="form-control" required>
                                        <option value=01>01</option>
                                        <option value=01>02</option>
                                        <option value=01>03</option>
                                        <option value=01>04</option>
                                        <option value=01>05</option>
                                        <option value=01>06</option>
                                        <option value=01>07</option>
                                        <option value=01>09</option>
                                        <option value=01>09</option>
                                        <option value=01>10</option>
                                        <option value=01>11</option>
                                        <option value=01>12</option>
                                    </select>
                                </div>
                                <div class="input-field form-group">
                                    <!--<label for="gender-control"></label>-->
                                    <select id="year-control" class="form-control" required>
                                        <option value=2016>2016</option>
                                        <option value=2017>2017</option>
                                        <option value=2018>2018</option>
                                        <option value=2019>2019</option>
                                        <option value=2020>2020</option>
                                        <option value=2021>2021</option>
                                    </select>
                                </div>
                                <md-input class="input-field" placeholder="Street"></md-input>
                                <md-input class="input-field" placeholder="City"></md-input>
                                <md-input class="input-field" placeholder="State"></md-input>
                                <md-input class="input-field" placeholder="Zip"></md-input>
                            </template>
                        </md-tab>
                        <md-tab>
                            <template md-tab-label>Additional Forms</template>
                            <template md-tab-content>
                                <span id="form-tab-message">The admission process is not complete. You must complete and upload all forms for the admission process to continue</span>

                                <div class="file-uploader-container">
                                    <label for="medical-form">Medical Form</label>
                                    <input id="medical-form" type="file" ng2FileSelect [uploader]="uploader" />
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <div class="file-uploader-container">
                                    <label for="tuition-form">Tuition Form</label>
                                    <input id="tuition-form" type="file" ng2FileSelect [uploader]="uploader" />
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                            </template>
                        </md-tab>
                    </md-tab-group>
                </md-card-content>
                <md-card-actions align="end">
                    <button md-raised-button color="primary" id="submit-button" (click)="isModalOpen = !isModalOpen">Save and Exit</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>