<div>
    <div class="card card-w-title">
        <h1>Discount Administration</h1>
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g form-group">
                        <div class="ui-g-12 ui-md-4">
                            <label for="input">Discount for first Child:</label>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield">
                                <input id="input" type="text" pInputText/>
                                <label>Discount in %</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <label for="input">Discount for second Child:</label>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield">
                                <input id="input" type="text" pInputText/>
                                <label>Discount in %</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <label for="input">Discount for third Child:</label>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield">
                                <input id="input" type="text" pInputText/>
                                <label>Discount in %</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <label for="input">Discount for forth Child:</label>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield">
                                <input id="input" type="text" pInputText/>
                                <label>Discount in %</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <label for="input">Discount for fifth Child:</label>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield">
                                <input id="input" type="text" pInputText/>
                                <label>Discount in %</label>
                            </span>
                        </div>
                        <span>Note: Changes made will be effective next billing cycle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>