<div class="card card-w-title wrapper-section ui-g">
    <h1 class="ui-g-12" >Register {{role}}</h1>
    <div class="ui-g-12 register-section ui-fluid">
        <form (ngSubmit)="register()">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" name="firstName" [(ngModel)]="isAdmin?adminRegistrationRequest.firstName:parentRegistrationRequest.firstName" >
                    <label>First Name</label>
                </span>
                </div>
                <div class="ui-g-4">
                    <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" name="middleName" [(ngModel)]="isAdmin?adminRegistrationRequest.middleName:parentRegistrationRequest.middleName" >
                    <label>Middle Name</label>
                </span>
                </div>
                <div class="ui-g-4">
                    <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" name="lastName" [(ngModel)]="isAdmin?adminRegistrationRequest.lastName:parentRegistrationRequest.lastName" >
                    <label>Last Name</label>
                </span>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText autocomplete="off" name="email" [(ngModel)]="isAdmin?adminRegistrationRequest.email:parentRegistrationRequest.email" >
                        <label>Email</label>
                    </span>
                </div>
                <div class="ui-g-4">
                    <span class="md-inputfield">
                        <input type="password" pInputText autocomplete="off" name="password" [(ngModel)]="isAdmin?adminRegistrationRequest.password:parentRegistrationRequest.password" >
                        <label>Password</label>
                    </span>
                </div>
                <div class="ui-g-4">
                    <span class="md-inputfield">
                    <input type="password" pInputText autocomplete="off" name="password" [(ngModel)]="validatePassword" >
                    <label>Re enter Password</label>
                </span>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" name="contactNumber" [(ngModel)]="isAdmin?adminRegistrationRequest.contact.number:parentRegistrationRequest.contact.number" >
                    <label>Contact Number</label>
                </span>
                </div>
                <div class="ui-g-4">
                    <button type="button" (click)="generateVerificationCode()" [disabled]="isGeneratingVerificationCode || isAdmin?!adminRegistrationRequest.contact.number:!parentRegistrationRequest.contact.number" pButton label="Generate Verification Code" class="blue-grey-btn"></button>
                </div>
                <div class="ui-g-4">
                    <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" name="verificationCode" [disabled]="isAdmin?!adminRegistrationRequest.contact.verification.requestId:!parentRegistrationRequest.contact.verification.requestId" [(ngModel)]="isAdmin?adminRegistrationRequest.contact.verification.code:parentRegistrationRequest.contact.verification.code" >
                    <label>Verification Code</label>
                </span>
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <button type="submit" pButton label="Register" [disabled]="isAdmin?!isAdminReqValid:!isParentReqValid" icon="ui-icon-person"></button>
            </div>
        </form>
        <span *ngIf="errorMessage">{{errorMessage}}</span>
    </div>

</div>