<div class="card card-w-title wrapper-section ui-g">
    <h1 class="ui-g-12" >Register {{role}}</h1>
    <div class="ui-g-12 register-section ui-fluid">
        <form (ngSubmit)="register()">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" name="firstName" [(ngModel)]="reqBody.firstName" >
                    <label>First Name</label>
                </span>
                </div>
                <div class="ui-g-4">
                    <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" name="middleName" [(ngModel)]="reqBody.middleName" >
                    <label>Middle Name</label>
                </span>
                </div>
                <div class="ui-g-4">
                    <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" name="lastName" [(ngModel)]="reqBody.lastName" >
                    <label>Last Name</label>
                </span>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText autocomplete="off" name="email" [(ngModel)]="reqBody.email" >
                        <label>Email</label>
                    </span>
                </div>
                <div class="ui-g-4">
                    <span class="md-inputfield">
                        <input type="password" pInputText autocomplete="off" name="password" [(ngModel)]="reqBody.password" >
                        <label>Password</label>
                    </span>
                </div>
                <div class="ui-g-4">
                    <span class="md-inputfield">
                    <input type="password" pInputText autocomplete="off" name="password" [(ngModel)]="validatePassword" >
                    <label>Re enter Password</label>
                </span>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText autocomplete="off" name="contactNumber" [(ngModel)]="reqBody.contact.number" >
                        <label>Contact Number</label>
                    </span>
                </div>
                <div class="ui-g-4">
                    <button type="button" (click)="generateVerificationCode()" [disabled]="!reqBody.contact.number" pButton label="Generate Verification Code" class="blue-grey-btn"></button>
                </div>
                <div class="ui-g-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText autocomplete="off" name="verificationCode" [disabled]="!reqBody.contact.verification.requestId" [(ngModel)]="reqBody.contact.verification.code" >
                        <label>Verification Code</label>
                    </span>
                </div>
                <span class="ui-g ui-g-12">Verification Code generation may take upto 5 minutes</span>
            </div>
            <div class="ui-g ui-g-12">
                <button class="ui-g-4" type="submit" pButton label="Register" [disabled]="!isValid" icon="ui-icon-person"></button>
            </div>
        </form>
        <span *ngIf="errorMessage">{{errorMessage}}</span>
        <span *ngIf="successMessage">{{successMessage}}</span>
    </div>

</div>