<div>
    <div class="card card-w-title">
        <h1>Resend Invitation</h1>
        <span>Is the information accurate?</span>
        <input placeholder="Name" style="width: 100%"/>
        <input placeholder="Email" style="width: 100%"/>
        <span>We will resend the invitation link</span>
        <button md-raised-button color="secondary" (click)="closeView()">Cancel</button>
        <button md-raised-button color="primary" id="submit-button" (click)="closeView()">Resend Invitation</button>
    </div>
</div>
